# For sake of your convenience
# There is no need to create .env file as this will be loaded automatically and
# it'll be overwritten by .env file if it exists

NODE_ENV=testing

# Database
DATABASE_USERNAME=test-gameofthree
DATABASE_PASSWORD=test-gameofthree
DATABASE_HOST=test-gameofthree-postgres
DATABASE_NAME=test-gameofthree
DATABASE_PORT=5433

# Redis
REDIS_HOST=test-gameofthree-redis
REDIS_PORT=6380

# Server
SERVER_PORT=3001
SERVER_SOCKET_PING_TIMEOUT_IN_MS=5000
SERVER_SOCKET_PING_INTERVAL_IN_MS=5000
SERVER_SOCKET_TOLERANCE_IN_MS=500

BOT_MOVE_WAIT_TIME_IN_MS=0
